body{
	width:1270px;
	height:900px;

}

#logoFixed {
	position: fixed;
  	bottom: 0;
  	right: 0;
	width: 100px;
	height: 100px;
	border: 5px solid;
	border-color: black;
	background-color: white;

}

#layoutMap{
	width: 85%;
	height: 80%;
	border: 5px solid;
	border-color: gray;
	float:left;
}

#oponenteStatus{
	width:14%;
	height:80%;
	border:2px solid;
	border-color: gray;
	float:right;

}

#yourStatus{
	width: 100%;
	height: 25%;
	border: 2px solid;
	border-color: red;
	clear: both;
	float:left;

}

#bonusArmy{
	width: 25%;
	height: 100%;
	border: 2px solid;
	border-color: red;
	float: left;
}

#totalArmy1, #armyNextPhase1, 
#armyContinente, #armyBonusCard{
	margin: 0px 30px;	
}

.bonusUpdateActive{
	color: blue;
}

h1{
	font-size: 24px;
	text-align: center;
	margin: 6px 2px;


}

.bonus{
	font-size: 13px;
	background-color: #CFCFCF;
	border: 1px solid #000;
	width: 80px;
	text-align: center;

	padding: 2px 10px;
	margin: 4px 30px;
	border-radius: 20px;

}

.bar{
	padding: 0px 9px;
	border: 1px solid #000;
	border-radius: 10px;
	font-size: 10px;
}

.bar:hover{
	background-color: green;
}

#heightBar{
	width: 100px;
	height: 15px;
}

#valueBar{
	text-align: center;
}


#arena{
	width: 52%;
	height: 100%;
	border: 4px solid;
	border-color: #0AA;
	float: left;

}


.battleTerritory{
	width: 120px;
	height: 120px;
	border: 1px solid;
	border-color: #000;
	text-align: center;

}

.label{
	padding: 0px 130px 0px 30px;

}

.label2{
	padding: 0px 70px 0px 0px;

}

#yourTerritory{
	float: left;
}

#targetTerritory{
	float: left;
}

#btnAttck{
	float: left;
	border: 2px solid;
	border-radius: 10px;
	margin: 20px 20px;
	
}

#qntdYourAttack{
	margin: 20px 5px;		
	width: 100px;
	float: left;
}

#compareDice{
	float: right;
	width: 250px;
	height: 120px;
	border: 4px solid;
	border-color: #0AA;
}

#cards{
	width: 22%;
	height: 100%;
	border: 2px solid;
	border-color: red;
	float: right;

}
#card1{
	width: 80px;
	height: 100px;


}

#bground{
	position: relative;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	height:100%;
}

#attack{
	z-index: 1;
	font-size: 100px;
	color: #A00;

	position: absolute;
	top: 490px;
	left: 520px;

	display: none;
}
		/*Imagem dos Mapas*/


.army{
	width: 16px;
	height: 16px;
	border: 1px solid #000;
	margin: 0 auto 15px auto; /*espaçamento de um elemento para o outro*/
	text-align: center;
	padding: 10px;
	border-radius: 100px;

	/*background-color: rgb(250,250,210);*/
	opacity: 1.0; 
}

#army0{ /*Argentina*/
	position: absolute;
	top: 570px;
	left: 230px;
}
#army1{ /*Brazil*/
	position: absolute;
	top: 470px;
	left: 270px;
}
#army2{ /*Chile*/
	position: absolute;
	top: 500px;
	left: 190px;
}
#army3{ /*Colombia*/
	position: absolute;
	top: 400px;
	left: 200px;
}
#army4{ /*Africa do Sul*/
	position: absolute;
	top: 550px;
	left: 560px;
}
#army5{ /*Madagascar*/
	position: absolute;
	top: 530px;
	left: 650px;
}
#army6{ /*Congo*/
	position: absolute;
	top: 480px;
	left: 550px;
}
#army7{ /*Argélia*/
	position: absolute;
	top: 365px;
	left: 470px;
}
#army8{ /*Sudão*/
	position: absolute;
	top: 410px;
	left: 605px;
}
#army9{ /*Egito*/
	position: absolute;
	top: 335px;
	left: 560px;
}
#army10{ /*México*/
	position: absolute;
	top: 330px;
	left: 100px;
}
#army11{ /*Nova York*/
	position: absolute;
	top: 280px;
	left: 170px;
}
#army12{ /*Califórnia*/
	position: absolute;
	top: 240px;
	left: 120px;
}
#army13{ /*Vancouver*/
	position: absolute;
	top: 190px;
	left: 140px;
}
#army14{ /*Ottawa*/
	position: absolute;
	top: 210px;
	left: 210px;
}
#army15{ /*Alaska*/
	position: absolute;
	top: 140px;
	left: 100px;
}
#army16{ /*Mackenzie*/
	position: absolute;
	top: 150px;
	left: 185px;
}
#army17{ /*Labrador*/
	position: absolute;
	top: 210px;
	left: 275px;
}
#army18{ /*Groelandia*/
	position: absolute;
	top: 125px;
	left: 390px;
}
#army19{ /*Inglaterra*/
	position: absolute;
	top: 220px;
	left: 418px;
}
#army20{ /*Islandia*/
	position: absolute;
	top: 180px;
	left: 445px;
}
#army21{ /*França*/
	position: absolute;
	top: 260px;
	left: 475px;
}
#army22{ /*Alemanha*/
	position: absolute;
	top: 228px;
	left: 512px;
}
#army23{ /*Polônia*/
	position: absolute;
	top: 260px;
	left: 555px;
}
#army24{ /*Moscou*/
	position: absolute;
	top: 210px;
	left: 620px;
}

#army25{ /*Suécia*/
	position: absolute;
	top: 150px;
	left: 535px;
}
#army26{ /*Oriente Médio*/
	position: absolute;
	top: 328px;
	left: 650px;
}
#army27{ /*Índia*/
	position: absolute;
	top: 350px;
	left: 775px;
}
#army28{ /*Vietnã*/
	position: absolute;
	top: 380px;
	left: 875px;
}
#army29{ /*Aral*/
	position: absolute;
	top: 260px;
	left: 710px;
}
#army30{ /*China*/
	position: absolute;
	top: 295px;
	left: 850px;
}
#army31{ /*Japão*/
	position: absolute;
	top: 265px;
	left: 1010px;
}
#army32{ /*OMSK*/
	position: absolute;
	top: 200px;
	left: 700px;
}
#army33{ /*Mongólia*/
	position: absolute;
	top: 248px;
	left: 838px;
}
#army34{ /*Dudinka*/
	position: absolute;
	top: 140px;
	left: 730px;
}
#army35{ /*Tchita*/
	position: absolute;
	top: 208px;
	left: 828px;
}
#army36{ /*Sibéria*/
	position: absolute;
	top: 160px;
	left: 800px;
}
#army37{ /*Vladivostok*/
	position: absolute;
	top: 160px;
	left: 918px;
}
#army38{ /*Austrália*/
	position: absolute;
	top: 590px;
	left: 900px;
}
#army39{ /*Sumatra*/
	position: absolute;
	top: 480px;
	left: 850px;
}
#army40{ /*Borneo*/
	position: absolute;
	top: 462px;
	left: 918px;
}
#army41{ /*Nova Guiné*/
	position: absolute;
	top: 510px;
	left: 998px;
}

#map1{
	position: absolute;
	height: 100px;
	top: 550px;
	left: 300px;
}
#map2{
	position: absolute;
	height: 100px;
	top: 420px;
	left: 500px;

}

